<h1>Pizza Shop</h1>

<div class="row">

	<% @product.each do |p| %>
		<div class="col-md-3">
			<div>
				<%= p.title %>
			</div>

			<div>
				<img src="<%= p.path_to_image %>" /> 
			</div>

			<div>
				<%= p.description %>
			</div>

			<div>
				Prise -<%= p.price %>
			</div>

			<div>
				<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add pizza</button>
			</div>

		</div>



	<% end %>
</div>

<button class="btn btn-primary" onclick="som()">Click me!</button>



